DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=change-me
DATABASE_URL=postgres://localhost/felipevillegas
ALLOWED_HOSTS=felipevillegas.com,www.felipevillegas.com
CSRF_TRUSTED_ORIGINS=https://felipevillegas.com,https://www.felipevillegas.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ca-central-1
AWS_QUERYSTRING_AUTH=True
AWS_S3_CACHE_CONTROL=public, max-age=31536000, immutable
WAGTAILADMIN_BASE_URL=http://localhost:8000
SENTRY_DSN=
